$appBackgroundColor: #deeaec; 
$headerBackgroundColor: #72a37e;
$textColor:   #07575B;
$websiteFont: 'PT Sans Narrow', sans-serif;
$selectedButtonColor: #e68f53;
$mobileMenuColor: #afcbcc;
$firstBreakpoint: 900px;
$containerWidth: 1100px;

@mixin boxshadow{
  -webkit-box-shadow: 2px -3px 28px 1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    2px -3px 28px 1px rgba(50, 50, 50, 0.25);
  box-shadow:         2px -3px 28px 1px rgba(50, 50, 50, 0.25);
}